<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" />
    <title>{{username}} Profile </title>
  </head>
  <body>
    <img class="proPic" src="{{avatar}}">
    <h1>{{name}}</h1>
    <p>{{address.city}}, {{address.country}} | {{job}}
        {{^job}}
        <span class="job">Availible for hire</span>
        {{/job}}
       {{company}}</p>
    <p>{{email}} | {{phone}}</p>
    {{#university}}
    <br><p><strong>Education</strong> {{university}}</p>
    {{/university}}
    <br><p><strong>Skills</strong>
    {{#skills}}
    {{.}}<br>
    {{/skills}}
    </p>
  </body>
</html>
