#users {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.boxes {
  width: 240px;
  border: 1px solid black;
  margin: 20px;
}

.proPic {
  float: left;
}

.job {
  color: red;
}

.name {
  color: blue;
  font-size: 24px;
}

li {
  list-style: none;
}

img {
  width: 200px;
  height: 200px;
  padding: 20px;
}

a {
  text-decoration: none;
}
