#users {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.boxes {
  width: 240px;
  border: 1px solid black;
  margin: 20px;
}

.boxes span {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}

.proPic {
  float: left;
  border-radius: 50%;
  border-color: 1px solid black;
}

.job {
  color: red;
}

.name {
  color: blue;
  font-size: 24px;
}

.position {
  padding-bottom: 20px;
}

h1 {
  font-size: 48px;
}

li {
  list-style: none;
}

img {
  width: 200px;
  height: 200px;
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
}
